/* font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

/* base settings */
:root {
  --sn-stylekit-font-family: 'Fira Code', monospace; /*includes ligatures*/
  --sn-stylekit-base-font-size: 15px;
}

/* editor */
.editor-content .editable {
  font-family: var(--sn-stylekit-font-family) !important;
  font-size: var(--overall-font-size) !important;
}

/* markdown */
.CodeMirror {
  font-family: var(--sn-stylekit-font-family) !important;
  font-size: var(--overall-font-size) !important;
}