/* font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

/* base settings */
:root {
  --sn-stylekit-font-family: 'Fira Code', monospace; /*includes ligatures*/
  --sn-stylekit-background-color: #1e1e1e;
  --sn-stylekit-foreground-color: #d4d4d4;
}

/* editor */
.editor-content .editable {
  font-family: var(--sn-stylekit-font-family) !important;
  font-size: 18px !important;
}

/* markdown */
.CodeMirror {
  font-family: var(--sn-stylekit-font-family) !important;
  font-size: 18px !important;
}
.CodeMirror .cm-header {
  line-height: 1.5em !important; /* extra space above and below headers */
}